@import url(reset.css);


/* montserrat 400 y 700 hanlee */
/* fontawesome cdn 6.0  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
);

@import url(https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&display=swap); /*corregir*/


*{
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    height: auto;
}

html{ /*regla para generar un scroll animado con ancla*/
    scroll-behavior: smooth;
}


:root{
    --fuentePrinciapl: 'montserrat', sans-serif;
    --fuenteSecundaria: 'handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1em;
    --anchoMaximo: 1100px; /*encorsetado todo el contenido*/
    --margingrid: 1em;
}

body{
    font-family: var(--fuentePrinciapl);
    font-size: var(--fontSize);
    
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;

}


/* Inicio header */
header .nav_top{
    background-color: var(--colorSecundario);
    padding: var(--margingrid)

}

header .nav_top .container{
    display: flex;
    justify-content: space-around;
}

header .nav_top div a{
   text-decoration: none;
}

header .nav_top a i{
    color: var(--colorPrincipal);
    font-size: 140%;
}

header .nav_top a span{
    color:white;
    display: none;

}

header nav {

  padding: var(--margingrid);  
}

header nav .logo{
    float: left;
    max-width: 100px;
}

header nav .hamburguesa{
    float: right;
    cursor: pointer;
    width: 2em;
}

header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .menu {
    clear: both;
    padding: var(--margingrid);
    padding-top: 0.625em;
    text-align: center;
}

header nav .menu a{
    display: block; /*para que sea clickable toda la línea del menú y no solo las palabras*/
    text-decoration: none;
    padding: var(--margingrid);
    color: #aaa;
    border-bottom: 1px solid #aaa;

}

header nav .menu li:last-child a{
    border: 0px;

}

header nav .menu :is(.activo, a:hover){
    color: var(--colorPrincipal);
}


/* Final header */


/* #region inicio footer*/

footer{
position: fixed;
bottom: 0;
width: 100%;
background-color: var(--colorSecundario);
color: white;
padding: var(--margingrid);

}
footer a{
    color: white;
    text-decoration: none;
}

.arriba{
    position: fixed;
    bottom: 50px;
    right: 5px;
    font-size: 2em;
}

.arriba a{
    color: var(--colorPrincipal);
}



/* #region Final footer*/


header nav:after{/*rompe las flotaciones por arriba y por abajo*/
    content: "";
    display: block;
    height: 0;
    clear: both;
}


/*inicio hero*/

.hero{
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-color: #999;
    background-blend-mode: multiply ; /*modo de fusión entre la imagen y la capa de color. en este caso multiply oscurece la imagen */
    background-position: center center; /*al disminuir la ventana de la página se mantiene en el centro*/
    background-size: cover; /*adapta a imagen para que siempre se vea correcta y no se repita*/
    display: flex;
}


.hero .container{
    width: 95%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.hero h1{
    font-family: var(--fuenteSecundaria);
    font-size: 230%;
    color: white;
}

.hero :is(h2, .container>div){
    margin: var(--margingrid), 0;
}

.hero h2{
    margin-top: var(--margingrid);
    color: var(--colorPrincipal);
    font-size: 125%;
    text-shadow: 2px 2px 3px black;/*para dar oscuridad trasera a las letras y se vea mejor*/
    
}

.hero p{
    margin-top: var(--margingrid);
    color: white;
    font-size: 115%;

}

.boton {
    margin-top: var(--margingrid);
    margin-bottom: var(--margingrid);
    display: inline-block;
    background-color: var(--colorPrincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorPrincipal);
    transition: 0.5s;
}

.boton:hover{
background-color: transparent;
border: 1px solid var(--colorPrincipal);
}


.boton:hover i{
transform:translateX(5px)
}


.hero .social{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.hero .social a{
    color: white;
    text-decoration: none;
    font-size: 26px;
}


/*final hero*/


/*inicio main*/


/* inicio our service*/

section{
    padding: 2.5em 0 4.5em 0;

}

section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 200%;
    text-align: center;
}

section h2 span{
    color: var(--colorPrincipal);
}

section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--colorPrincipal);
    text-align: center;
}

section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorPrincipal);

}

#ourservices .grid{
display: grid;  
/*grid-template-columns y grid-template-rows */ 
grid-template-columns: 1fr;
gap: var(--margingrid); /*gap para espacios entre columnas*/
padding: 0 var(--margingrid);
}

section article{
    padding: calc(var(--margingrid)*2) 0;
   
    border-bottom: 1px solid #aaa;
}

section h3{
    font-weight: 700;
    margin: 0.5em 0;
    font-size: 110%;
}

section p{
    color: #aaa;
    line-height: 1.20em; /*espacio interlineado*/
    margin-bottom: var(--margingrid);
}


#ourservices article>div i{
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    font-size: 150%;
    padding: 0.5em;
}

.enlace{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: 700;
}

.fa-truck{
    transform: rotateY(180deg)
}




/*final our service/*

/*Inicio about us*/

section h4{
    color: var(--colorPrincipal);
    margin-bottom: var(--margingrid);
}

section .flex{
    padding: 0 var(--margingrid)
}

#aboutus figure{
    width: 60%;
    height: 400px;
    margin: 2em auto;
}

#aboutus figure .marco{
    border: 3px solid var(--colorPrincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}


#about figure .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}

#aboutus figure:hover :is(.marco, .marco img){
    transform: rotateZ(0deg);

}

#aboutus .flex{
    display: flex;
    flex-direction: column;
}


/*Final about us*/


/* mediaquerys*/

/*breakpoint 768px */
@media(min-width:48em){

    header .nav_top a span{
        display: inline;
    }
    header .nav_top .container{
        justify-content: space-between;
    }

    #ourservices .grid{
    grid-template-columns: repeat(2, 1fr);
    
    }

    #ourservices .grid article:last-child{
        grid-column: 1/3
    }

    section article{
        padding: calc(var(--margingrid)*2);
       
        border-bottom: 0;
        border-left: 1px solid #aaa;
    }

    #aboutus .flex{
        flex-direction: row;
        padding-top: var(--margingrid);
    }

    #aboutus figure{
        width: 50%;
        margin: 0.5em auto  
    }
}

/*breakpoint 1004px */

@media(min-width: 62.750em){
    header nav .hamburguesa{
        display: none;
    }
    header nav .menu{
        float: right;
        padding-top: 0;
        clear: none;
    }

    header nav .menu li{
        display: inline-block;
    }

    header nav .menu a{
        border: 0px;
        padding: 0.4em 0em 0.4em 2.5em;
    }

    #ourservices .grid{
        grid-template-columns: repeat(3, 1fr);
        
        }
    
        #ourservices .grid article:last-child{
            grid-column: 3/4
        }
}

/*página interesante de csstricks.com*/

