@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* montserrat 400 y 700  Handlee */
/* fontawesome cdn 6.0  */
/*
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    height: auto;
}

html{
    /* para generar un scroll animado con ancla */
    scroll-behavior: smooth;
}

:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1em;
    --anchoMaximo: 1100px;
    --marginGrid: 1em;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

/* inicio header */

header .nav_top{
    background-color: var(--colorSecundario);
    padding: var(--marginGrid);
}

header .nav_top .container{
    display: flex;
    justify-content: space-around;
}

header .nav_top a{
    text-decoration: none;
}

header .nav_top a i{
    color: var(--colorPrincipal);
    font-size: 140%;
}

header .nav_top a span{
    color: white;
    display: none;
}

header nav{
    padding: var(--marginGrid);
}

header nav .logo{
    float: left;
    max-width: 100px;
}

header nav .hamburguesa{
    float: right;
    cursor: pointer;
    width: 2em;
}

header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .menu {
    clear: both;
    padding-top: 0.625em /* 10px */;
    text-align: center;
}

header nav .menu a{
    display: block;
    text-decoration: none;
    padding: var(--marginGrid);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a{
    border: 0px;
}

header nav .menu :is(.activo, a:hover){
    color: var(--colorPrincipal);
}

header nav:after{
    content: "";
    display: block;
    height: 0;
    clear: both;   
}
/* final header */

/* principo de footer */

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: var(--colorSecundario);
    color: white;
    padding: var(--marginGrid);
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:  var(--colorPrincipal)
}

.arriba{
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 2em;
}

.arriba a{
    color: var(--colorPrincipal)
}

/* final footer */

/* inicio de hero */

.hero{
    background-image: url(../images/fondo.jpg);
    background-color: #999;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    display: flex;
}


.hero .container{
    width: 95%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
 

.hero h1{
    font-family: var(--fuenteSecundaria);
    font-size: 230%;
    color: white;
}

.hero :is(h2, .container>div){
    margin: var(--marginGrid) 0;
}

.hero h2{
    color: var(--colorPrincipal);
    font-size: 125%;
    text-shadow: 2px 2px 3px black;
}

.hero p{
    color: white;
    font-size: 115%;
}

.boton{
    display: inline-block;
    background-color: var(--colorPrincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorPrincipal);
}

.boton:hover{
    background-color: transparent;
    color: var(--colorPrincipal)
   
}

.boton:hover i{
    transition: 0.5s;
    transform: translateX(5px);
}

.hero .social{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.hero .social a{
    color: white;
    text-decoration: none;
    font-size: 200%;
}
/* final de hero*/

/* inicio Ourservices */
section{
    padding: 2.5em 0 4.5em 0;
}

section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 200%;
    text-align: center;
}

section h2 span {
    color: var(--colorPrincipal);
}

section .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--colorPrincipal);
    text-align: center;
}

section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    /* border-color: var(--colorPrincipal); */
    background-color: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
}

#ourservices .grid{
    display: grid;
    gap: var(--marginGrid);
    padding: 0 var(--marginGrid);
}

section article{
    padding: calc(var(--marginGrid)*2) 0;
    border-bottom: 1px solid #aaa;
}

section h3{
    font-weight: 700;
    margin: 0.5em 0;
    font-size: 110%;
}

section p{
    color: #777;
    line-height: 1.15em;
    margin-bottom: var(--marginGrid);
}

#ourservices article>div i{
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    font-size: 150%;
    padding : 0.5em;
}

.enlace{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: 700;
} 

.fa-truck{
    transform: rotateY(180deg);
}


/*  Final our services  */

/* inicio About us */

section h4{
    color: var(--colorPrincipal);
    margin-bottom: 0.5em;
}

section .flex{
    padding: 0 var(--marginGrid);
}

#aboutus figure{
    width: 85%;
    margin: 2em auto;
}

#aboutus figure .marco {
    border: 3px solid var(--colorPrincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

#aboutus figure .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}

#aboutus figure:hover :is(.marco, .marco img){
    transform: rotateZ(0deg);
}

#aboutus .flex{
    display: flex;
    flex-direction: column;
}


/* final About us */


/*inicio main OurBlogs*/



#ourblogs .flex {
    display: flex;
    margin-top: var(--marginGrid);
    
}

.blog {
    width: 33%;
    height: auto;
    gap: var(--marginGrid);
    padding: var(--marginGrid);
    border-left: none;
}

.blog figure{
    margin-bottom: 30px;
}

.fecha{
    width:  80px;
    height: 80px;
    position: absolute;
    background-color: rgba(250,	87,	58, 0.7);
    

}

.fecha p{
color: white;
opacity: none;
position: absolute;
text-align: center;
font-size: 25px;
font-weight: bold;
margin-top: 10px;
line-height: 30px;

}



article h5{
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--colorPrincipal);
    font-weight: bold;

}

.blog div p{
    justify-content: space-between;
    
}


div a{
    color: var(--colorPrincipal);
    text-decoration: none;
    font-weight: 700;
}





/*final main Ourblogs*/

/* Incio main menu */


.linea {
    
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--colorPrincipal);
    background-color: var(--colorPrincipal);
    margin: var(--marginGrid);
    padding: 0;
    width: 20%;
    
}

.letraBlanca{
    color: white !important;
}

.containerAzul{
    background-color: var(--colorSecundario);
}

.containerBlanco{
    background-color: white;
    margin-bottom: 50px;

}

.tituloMenu h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 200%;
    text-align: center;
}

.tituloMenu span {
    color: var(--colorPrincipal);
}

.tituloMenu .underline {
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--colorPrincipal);
    text-align: center;
}

.tituloMenu .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    /* border-color: var(--colorPrincipal); */
    background-color: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
}


.mainMenu{
    display: flex;
    width: 100%;
    height: 500px;
    padding-bottom: 100px;
}

.mainMenu section article{
    display: flex;

}

.mainMenu section{
    height: 100%;
}

.sectionUno{
    width: 30%;
    padding-top: 70px;
    
}

.sectionUno li{
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    
    
}



.sectionUno li:hover{
    background-color: var(--colorPrincipal);
    cursor:pointer;
    border-radius: 5px;
    
}

.sectionUno div{
    margin-top: 50px;
}

.sectionDos{
    width: 70%;
    margin-left: 5%;
   
    
    

}

.sectionDos article{
    padding-bottom: 5px;
    border-left: none;
    
}

.mainMenu section article figure{
    width: 25%;
    max-width: max-content;

}

.articuloMenu{
    width: 70% ;
    padding-left: 5px;
}

.imagenMenu{
    margin-right: 20px;
}

.precio{
    color: var(--colorPrincipal);
    width: 5%;
    margin-top: 9.5px;
    margin-right: 30px;
    font-weight: bold;
}







/* Final main menu */



/* mediaquerys */

/* breakpoint 768px */
@media(min-width: 48em){
    
    header .nav_top a span{
      display: inline;
    }

    header .nav_top .container{
      justify-content: space-between;
    }

    #ourservices .grid{
       grid-template-columns: repeat(2, 1fr);
    }

    #ourservices .grid article:last-child{
        grid-column: 1/3;
    }

    section article{
        padding: calc(var(--marginGrid)*2);
        border-bottom: 0px;
        border-left: 1px solid #aaa;
    }

    #aboutus .flex{
        flex-direction: row;
        padding-top: var(--marginGrid);
    }

    #aboutus figure{
        width: 90%;
        margin: 0.5em auto;
    }




    

}

/* breakpoint 1004px */

@media(min-width: 62.750em){
    header nav .hamburguesa{
        display: none;
    }

    header nav .menu{
        float: right;
        padding-top: 0;
        clear: none;
    }

    header nav .menu li{
        display: inline-block;
    }

    header nav .menu a{
        border: 0px;
        padding: 0.4em 0em 0.4em 2.5em;
    }

    #ourservices .grid{
       grid-template-columns: repeat(3, 1fr)
    }

    #ourservices .grid article:last-child{
        grid-column: 3/4;
    }

 
    }



    /* NOTA 1: No he conseguido hacer las mediaqueries del menú y el blog. 
       NOTA 2: el header del blog no mantiene las mismas proporciones y no he conseguido cambiarlo. 
     */





    /* pagina interesante de css grid 
    https://css-tricks.com/snippets/css/complete-guide-grid/ */
    /*página interesante de csstricks.com*/

